header {
    background-color: rgba(141, 235, 219, 0.712);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.div-icon {
    font-size: 40px;

}

.div-list ul {
    display: flex;
    gap: 15px;

}

.div-list ul li {
    list-style: none;

}

.div-list ul li a {
    text-decoration: none;
    color: #000000;
}


.section-01 {
    background-image: url(imagens/sites-de-viagens.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.section-01 h1 {
    color: black;
    font-size: 50px;
}

.section-01 button {
    background-color: rgba(251, 252, 252, 0.548);
    color: black;
    width: 155px;
    padding: 10px;
    border-radius: 30px;
}

.section-02-div-p {
    font-size: 25px;
    color: #000000;
}


.section-02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 100px;
}

.img-section02 {
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

.div-serviço {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}


.section-03 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    text-align: center;
    gap: 15px;

}

.div-section-03 {
    width: 300px;
    height: 370px;
    text-align: center;
    background-color: burlywood;
    padding: 42px;
}

.div-section-03-img-01 {
    width: 240px;
    height: 240px;
}

.div-section-03-img-02 {
    width: 240px;
    height: 240px;
}

.div-section-03-img-03 {
    width: 240px;
    height: 240px;
}

.div-section-03-img-04 {
    width: 240px;
    height: 240px;
}

.pre-section-04 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.section-04 img {
    width: 400px;
    height: 300px;

}

.section-04 {
    display: flex;
    justify-content: center;
    align-items: center;

}


.section-04 div {
    opacity: 1;
}

.section-04 div:hover {
    opacity: 0.8;
}

.section-05-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 50px;

}

.div-section-05-p {
    font-size: 20px;
    font-weight: 500;
}


.div-section-05 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: 500;
}

.section-05-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.button-form-01 {
    background-color: rgb(202, 144, 68);
    width: 80px;
    height: 50px;
    padding: 10px;
    border: none;
    color: #ffffff;
}

.button-form-01:hover {
    background-color: black;

}

.form-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;

}

.section-06-map {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
}

footer i {
    font-size: 40px;
    color: rgb(202, 144, 68);
}

footer h4 {
    font-size: 45px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}